#Main-Game-Template {
    background-color: black;
    font-size: 16px;
    /* text-align: center; */
    color: white;
}

h1 {
    background-color: #5C6B73;
    color: #F1D302;
    height: 150px;
    font-size: 135px;
    text-align:  center;
}

/* Category Button Group Below ......... */
.category-buttons {
    display: flex;
    justify-content: space-around;
}

/* Individual Category Buttons Below.......... */
#powerToolBtn {
    font-size: 32px;
    background-color:#925E78;
    width: 250px;
    height: 75px;
}

#handToolBtn {
    font-size: 32px;
    background-color:#925E78;
    width: 250px;
    height: 75px;
}

#specialityToolBtn {
    font-size: 32px;
    background-color:#925E78;
    width: 250px;
    height: 75px;
}

#equipBtn {
    font-size: 32px;
    background-color:#925E78;
    width: 250px;
    height: 75px;
}


/* Game intro Text Below....... */
#intro-text {
    font-size: 24px;
    margin: 5%;
    text-align: center;
}

/* Rotating Game Section........... */

#gameSection {
    display: flex;
    column-count: 2;
    margin: 0 0 40px 0;
    justify-content: space-around;
}



/* Photos will be displayed Below........ */

#questionPhoto {
    border: 5px solid #F1D302;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: start;
    width: 600px;
    height: 600px;

}



/* Questions will be displayed Below........ */

#questionList {
    border: 5px solid #F1D302;
    font-size: 42px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: start;
    width: 600px;
    height: 600px;
}

#questionList > button {
    background-color: #A0CED9;
    width: 200px;
    height: 150px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


/* Other Buttons Below......... */

.other-buttons {
    display: flex;
    justify-content: center;
}

#restartBtn {
    font-size: 52px;
    height: 130px;
    background-color: #A0CED9;
    align-items: center;
    margin: 30px 30px 30px 30px;
}

#nextBtn {
    font-size: 52px;
    height: 130px;
    background-color: #A0CED9;
    align-items: center;
    margin: 30px 30px 30px 30px;
}

#scoreCount {
    font-size: 100px;
    display: flex;
    margin: 60px 30px 30px 30px;
}

h3 {
    font-size: 75px;
}


/* Page Footer Below............ */
footer {
    background-color: #5C6B73;
    color: #F1D302;
    width: auto;
    height: 130px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    /* text-align: center; */
    
}
#logo {
    width: 170px;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 15px;
}

#footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}