body {
    background-color: black;
    font-size: 16px;
    /* text-align: center; */
    color: white;
}

h1 {
    background-color: #5C6B73;
    color: #F1D302;
    height: 150px;
    font-size: 135px;
    text-align:  center;
}

/* Category Button Group Below ......... */
.category-buttons {
    display: flex;
    justify-content: space-around;
}

/* Individual Category Buttons Below.......... */
#powerToolBtn {
    font-size: 32px;
    background-color:#925E78;
    
}

#handToolBtn {
    font-size: 32px;
    background-color:#925E78;
}

#specialityToolBtn {
    font-size: 32px;
    background-color:#925E78;
}

#equipBtn {
    font-size: 32px;
    background-color:#925E78;
}


/* Game intro Text Below....... */
#intro-text {
    font-size: 24px;
    margin: 5%;
    text-align:  center;
}


/* Photos will be displayed Below........ */

.questionPhoto {
    border: 5px solid #F1D302;
    margin: 20px 40px 40px;
    display: flex;
    justify-content: start;
    align-self: start;
    margin-right: auto;
    width: 400px;
    height: 500px;
}



/* Questions will be displayed Below........ */

.questionList {
    border: 5px solid #F1D302;
    margin: 20px 40px 40px;
    display: flex;
    justify-content: end;
    align-self: end;
    margin-left: auto;
    width: 400px;
    height: 500px;
}

.questionList > p {
    display: flex;
    /* justify-content: start;
    align-self: start; */
}


/* Other Buttons Below......... */

.other-buttons {
    display: flex;
    justify-content: space-around;
}

#restartBtn {
    font-size: 32px;
    background-color: #A0CED9;
    justify-content: end;
    align-items: center;
}

#nextBtn {
    font-size: 32px;
    background-color: #A0CED9;
    justify-content: end;
    align-items: center;
}


/* Page Footer Below............ */
footer {
    background-color: #5C6B73;
    color: #F1D302;
    width: auto;
    height: 50px;
    text-align: center;
    font-size: 14px;
    
}